.paragraph--type--image-set {
	position: relative;
	min-height: 400px;

	.field--item {
		position: absolute;
		border-radius: 50%;
		overflow: hidden;
	}
}

div[class*="paragraphs-behavior-style--image-set--circles--3"] {
	@media #{$phablet} {
		min-height: 450px;
	}
}

div[class*="paragraphs-behavior-style--image-set--circles--6"] {
	@media #{$phablet} {
		min-height: 890px;
	}
}

.paragraphs-behavior-style--image-set--circles--3a {
	.field--item {
		&:nth-child(1) {
			max-width: 28.5%;
			width: 194px;
			right: 12%;
			top: -50px;
		}
		&:nth-child(2) {
			max-width: 35%;
			width: 238px;
			top: 92px;
			left: 18%;
		}
		&:nth-child(3) {
			max-width: 22%;
			width: 148px;
			top: 256px;
			right: 22%;
		}
	}
}


.paragraphs-behavior-style--image-set--circles--3b {
	.field--item {
		&:nth-child(1) {
			top: 53px;
			right: 27%;
			width: 166px;
			max-width: 24.5%;
		}
		&:nth-child(2) {
			top: 152px;
			left: 13%;
			width: 135px;
			max-width: 20%;
		}
		&:nth-child(3) {
			top: 291px;
			right: 31%;
			width: 217px;
			max-width: 32%;
		}
	}
}

.paragraphs-behavior-style--image-set--circles--3c {
	.field--item {
		&:nth-child(1) {
			top: 112px;
			right: 14%;
			width: 175px;
			max-width: 27.5%
		}
		&:nth-child(2) {
			top: 64px;
			left: 18%;
			width: 210px;
			max-width: 34%;
		}
		&:nth-child(3) {
			top: 327px;
			left: 39%;
			width: 150px;
			max-width: 25%;
		}
	}
}

.paragraphs-behavior-style--image-set--circles--6a {
	.field--item {
		&:nth-child(1) {
			top: 200px;
			left: 8%;
			width: 208px;
			max-width: 30.7%;
			transform: translateY(-56%);
		}
		&:nth-child(2) {
			top: 99px;
			right: 23.8%;
			width: 150px;
			max-width: 22.2%;
		}
		&:nth-child(3) {
			top: 396px;
			left: 0;
			width: 130px;
			max-width: 19.5%;
		}
		&:nth-child(4) {
			top: 318px;
			right: 35%;
			width: 217px;
			max-width: 31%;
		}
		&:nth-child(5) {
			top: 519px;
			right: 12%;
			width: 120px;
			max-width: 18%;
		}
		&:nth-child(6) {
			top: 614px;
			right: 50%;
			width: 184px;
			max-width: 27%;
		}
	}
}


.paragraphs-behavior-style--image-set--circles--6b {
	.field--item {
		&:nth-child(1) {
			top: 143px;
			left: 21%;
			width: 221px;
			max-width: 32.7%;
		}
		&:nth-child(2) {
			top: 195px;
			right: 8.5%;
			width: 165px;
			max-width: 25%;
		}
		&:nth-child(3) {
			top: 453px;
			left: 16%;
			width: 165px;
			max-width: 24.5%;
		}
		&:nth-child(4) {
			top: 396px;
			right: 32%;
			width: 122px;
			max-width: 18%;
		}
		&:nth-child(5) {
			top: 465px;
			right: 6px;
			width: 137px;
			max-width: 21%;
		}
		&:nth-child(6) {
			top: 607px;
			right: 25%;
			width: 220px;
			max-width: 33%;
		}
	}
}

.paragraphs-behavior-style--image-set--circles--6c {
	.field--item {
		&:nth-child(1) {
			top: 32px;
			left: 29%;
			width: 147px;
			max-width: 21.7%;
		}
		&:nth-child(2) {
			top: 260px;
			left: 8.5%;
			width: 242px;
			max-width: 36%;
		}
		&:nth-child(3) {
			top: 190px;
			right: 18.5%;
			width: 197px;
			max-width: 29.5%;
		}
		&:nth-child(4) {
			top: 592px;
			left: 14.5%;
			width: 182px;
			max-width: 27%;
		}
		&:nth-child(5) {
			top: 468px;
			right: 22%;
			width: 184px;
			max-width: 27%;
		}
		&:nth-child(6) {
			top: 733px;
			right: 27%;
			width: 147px;
			max-width: 22%;
		}
	}
}

// Mobile version theming image set.
div[class*="paragraphs-behavior-style--side-"].paragraphs-behavior-style--small-below {
	@media #{$mobile} {
		flex-direction: column;
	}

	.field--name-field-content {
		@media #{$mobile} {
			order: 1;
		}
	}

	.field--name-field-content-3 {
		@media #{$mobile} {
			order: 2;
		}
	}

	.paragraph--type--image-set {
		@media #{$mobile} {
			max-width: 340px;
			margin: 0 auto;
			min-height: 360px;

			&[class*="paragraphs-behavior-style--image-set--circles--"] {
				.field--item {
					@media #{$mobile} {
						width: 100px;
						img {
							width: 100px;
						}
					}

					&:nth-child(1) {
						top: 50px;
						left: 9%;
						right: auto;
						max-width: none;
					}

					&:nth-child(2) {
						top: 100px;
						right: 8.5%;
						width: auto;
						max-width: none;
						left: auto;
					}

					&:nth-child(3) {
						top: 210px;
						left: 25%;
						right: auto;
						max-width: none;
					}

					&:nth-child(4),
					&:nth-child(5),
					&:nth-child(6) {
						@media #{$mobile} {
							display: none;
						}
					}
				}
			}
		}
	}
}

.paragraphs-behavior-style--widths--3-1 {
	.paragraphs-behavior-style--image-set--circles--6b {
		margin-top: -110px;
	}

	.paragraphs-behavior-style--image-set--circles--6a {
		margin-top: -55px;
	}

	.paragraphs-behavior-style--image-set--circles--6c {
		margin-top: -50px;

		.field--item {
			&:nth-child(1) {
				top: 32px;
			}

			&:nth-child(2) {
				top: 225px;
			}

			&:nth-child(3) {
				top: 125px;
			}

			&:nth-child(4) {
				top: 480px;
			}

			&:nth-child(5) {
				top: 370px;
			}

			&:nth-child(6) {
				top: 597px;
			}
		}
	}


	.paragraphs-behavior-style--image-set--circles--3a {
		.field--item {
			&:nth-child(1) {
				top: -20px;
			}
			&:nth-child(2) {
				top: 80px;
			}
			&:nth-child(3) {
				top: 214px;
				right: 15%;
			}
		}
	}

	.paragraphs-behavior-style--image-set--circles--3b {
		.field--item {
			&:nth-child(3) {
				top: 251px;
			}
		}
	}

	.paragraphs-behavior-style--image-set--circles--3c {
		margin-top: -40px;

		.field--item {
			&:nth-child(1) {
				top: 182px;
			}
			&:nth-child(3) {
				left: 29%;
			}
		}
	}
}

.paragraphs-behavior-style--widths--2-1 {
	.paragraphs-behavior-style--image-set--circles--6b {
		margin-top: -80px;
	}

	.paragraphs-behavior-style--image-set--circles--6a {
		margin-top: -30px;
	}

	.paragraphs-behavior-style--image-set--circles--6c {
		margin-top: -50px;
	}

	.paragraphs-behavior-style--image-set--circles--3b {
		margin-top: -47px;
	}

	.paragraphs-behavior-style--image-set--circles--3c {
		margin-top: -40px;

		.field--item {
			&:nth-child(1) {
				top: 182px;
			}

			&:nth-child(3) {
				left: 29%;
			}
		}
	}
}

// From  home page.
.paragraphs-behavior-style--image-set--circles--3d {
	.field--item {
		position: absolute;
		@media #{$mobile} {
			display: none;
		}

		&:nth-child(1) {
			max-width: 32.3%;
			top: -35px;
			right: 14.5%;
			width: 174px;
			@media #{$phablet} {
				top: 90px;
			}
		}

		&:nth-child(2) {
			top: 238px;
			left: 17%;
			width: 217px;
			max-width: 40%;
			@media #{$phablet} {
				top: 300px;
			}
		}

		&:nth-child(3) {
			top: 409px;
			right: -6%;
			width: 168px;
			max-width: 32%;
			@media #{$phablet} {
				right: 7%;
				top: 510px;
			}
			@media #{$laptop-desktop-only} {
				right: -5%;
			}
		}
	}
}

// From  home page.
.paragraphs-behavior-style--image-set--circles--4a {
	.field--item {
		position: absolute;
		@media #{$mobile} {
			display: none;
		}

		&:nth-child(1) {
			width: 121px;
			max-width: 44%;
			left: 0%;
			top: -196px;
			@media #{$phablet} {
				top: -40px;
				left: 8%;
			}
		}

		&:nth-child(2) {
			top: -12px;
			right: 5.6%;
			width: 142px;
			max-width: 26%;
			@media #{$phablet} {
				top: 120px;
			}
		}

		&:nth-child(3) {
			top: 213px;
			left: 15%;
			width: 195px;
			max-width: 36%;
			@media #{$phablet} {
				top: 330px;
				left: 25%;
			}
		}

		&:nth-child(4) {
			top: 511px;
			left: -10%;
			width: 147px;
			max-width: 27%;
			@media #{$phablet} {
				top: 550px;
				left: 0;
			}
			@media #{$laptop-desktop-only} {
				left: -14%;
			}
		}
	}
}
