.paragraph--type--testimonial {
  margin: 20px auto;
  padding: 0 15px;
  @media #{$laptop-desktop-lg} {
    margin: 40px 0;
  }

  .field--name-field-image {
    text-align: center;
    margin-bottom: 15px;
    @media #{$phablet-min} {
      margin-bottom: 40px;
    }

    img {
      display: inline-block;
      border-radius: 50% 50%;
      max-width: 110px;
      max-height: 105px;
      width: 70px;
      height: 70px;
      object-fit: cover;
      @media #{$phablet-min} {
        width: 110px;
        height: 105px;
      }
    }
  }

  .info-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    @media #{$mobile} {
      margin-top: 15px;
      margin-bottom: 35px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .field--name-field-name,
    .field--name-field-location {
      @include text ($font-size-mobile, bold, normal);
      @media #{$phablet-min} {
        font-size: $font-size-base;
      }
    }

    .field--name-field-location:before {
      content: ', ';
    }
  }
}
