// Hide sidebar for mobile.
.paragraphs-behavior-style--small-hide {
	.field--name-field-content {
		@media #{$mobile} {
			flex-basis: 100%;
		}
	}
	.field--name-field-content-2 {
		@media #{$mobile} {
			display: none;
		}
	}
	&.paragraph--type--three-columns {
		.field--name-field-content-3 {
			@media #{$mobile} {
				display: none;
			}
		}
	}
}
