.paragraph--type--hero {
  margin-bottom: 30px;
  padding: 50px 15px;
  @media #{$phablet-min} {
    margin-bottom: 50px;
    padding: 50px 26px;
  }
  @media #{$laptop-desktop} {
    margin-bottom: 80px;
  }

  .field--name-field-subtitle {
    margin-top: 0;
    font-size: $font-size-deck-sm;
    @media #{$phablet-min} {
      font-size: $font-size-subtitle;
    }
    @media #{$laptop-desktop} {
      font-size: $font-size-title;
    }
  }

  .field--name-field-text {
    @include text ($font-size-base, normal, normal, inherit);
    @media #{$phablet-min} {
      font-size: $font-size-subtitle;
      p {
        margin-bottom: 30px;
        color:  inherit;
      }
    }
  }
}

.wrapper-content-hero {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media #{$mobile-xs} {
    min-height: 250px;
  }
  @media #{$phablet-min} {
    min-height: 515px;
  }
  @media #{$laptop-desktop} {
    min-height: 773px;
  }
}
.paragraphs-behavior-style--hero--default {
  .field--name-field-title {
    margin-top: 0;
    margin-bottom: 25px;
    @include text($font-size-subtitle, 400, normal, inherit);
    @media #{$phablet-min} {
      font-size: $font-size-global-title;
    }
    @media #{$laptop-desktop} {
      font-size: $font-size-xlg-title;
    }
  }
}

.paragraphs-behavior-style--hero--right {
  .wrapper-content-hero {
    @media #{$laptop-desktop} {
      width: 50%;
      float: right;
    }

    /*
    Width for default value of container has been rewritten for paragraph style--hero--right,
    because width for this type of paragraph is given in it 'width 50%'.
    */
    .container {
      width: 100%;
    }

    [class*='field--name-field-'] {
      @media #{$laptop-desktop} {
        max-width: 500px;
      }
    }
  }

  .field--name-field-title  {
    font-size: $font-size-subtitle;
    @media #{$phablet-min} {
      font-size: $font-size-lg-title;
      margin-bottom: 35px;
    }
  }

  .field--name-field-call-to-action {
    margin-top: 15px;
    @media #{$phablet-min} {
      margin-top: 30px;
    }
    a, button {
      @include call-to-action(true)
    }
  }
}
