.card-event {
	@extend .background--brand-primary;
	@extend .rounded-with-shadow;
	position: relative;
	padding: 38px 30px;
	max-width: 450px;
	height: 100%;
	display: block;
	border: 1px solid $ahs-color;
	transition: all .1s ease-in-out;
	margin: 0 auto 30px;
	&:hover, &:focus, &:active {
		text-decoration: none;
		color:#b72003;
		background-color: $white;
	}
	@media #{$laptop-desktop} {
		margin: 0;
	}

	.contextual-region {
		position: static;
	}

	h2 {
		margin: 25px 0 10px;
		@media #{$phablet-min} {
			margin: 55px 0 20px;
			font-size: 30px;
		}
	}
	.date-of-event {
		text-transform: uppercase;
	}

}
.paragraphs-behavior-style--card--event .col-md-4 {
  @media (max-width: #{$screen-md-min}) {
    margin-top: 10px;
    width: 100%;
  }
}
