.paragraph--type--call-to-action {
	margin-top: 15px;
	@media #{$phablet-min} {
		margin-top: 30px;
	}
	a, button {
    @include call-to-action();
	}
}

.paragraphs-behavior-style--button-inverted {
  a, button {
    @include call-to-action(true);
  }
}

.paragraphs-behavior-style--button-standard {
	a, button {
    @include call-to-action();
  }
}
