.paragraphs-behavior-style--text-decoration-highlight-first-paragraph {
  p {
    &:first-child {
      color: $ahs-color;
      font-size:$font-size-subtitle;
      font-family: $font-family-lato;
      font-weight: 400;
      @media #{$laptop-desktop} {
        font-size: $font-size-title;
      }
    }
  }
}
