[class*='paragraphs-behavior-style--card--'] {
  margin-top: 15px;

  .field--name-field-image {
    position: relative;
    top: 0;
    left: 0;
    margin: 15px auto;
    padding: 15px;
    width: 65px;
    height: 50px;
    text-align: center;
    @include flex-center;
    @media #{$phablet-min} {
      width: 80px;
      height: 70px;
    }
  }
}

.paragraphs-behavior-style--card--image-top-left {
  .field--name-field-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: $white;
    box-shadow: $box-shadow-icons;
    @media #{$phablet-min} {
      position: absolute;
      top: -75px; left: -35px;
      width: 80px; height: 80px;
    }
    @media #{$laptop-desktop} {
      top: -95px; left: -70px;
      width: 120px; height: 120px;
    }

    img {
      max-width: 40px;
      @media #{$phablet} {
        width: 30px;
      }
      @media #{$mobile} {
        width: auto;
        height: 20px;
      }
    }
  }

  .field--name-field-text  p {
    @media #{$phablet-min} {
      font-size: $font-size-deck-sm;
    }
  }
}

.paragraphs-behavior-style--card--image-top-left {
  @media #{$phablet} {
    margin-top: 85px;
  }
  @media #{$laptop-desktop} {
    margin-top: 140px;
  }
}

.paragraphs-behavior-style--card--default {
  @media #{$phablet} {
    margin-top: 45px;
  }
  @media #{$laptop-desktop} {
    margin-top: 80px;
  }
}


.view-events.view-display-id-block_featured .view-content {
  display: flex;
  flex-wrap: wrap;
}