.paragraph--type--three-columns {
	position: relative;
	padding-bottom: 30px;
	display: flex;
	@media #{$phablet-min} {
		padding-bottom: 100px;
	}

	.field--name-field-content-3,
	.field--name-field-content-2 {
		.paragraphs-behavior-style--image-set--circles {
			margin-top: -160px;
			@media #{$phablet} {
				margin-top: -200px;
			}
		}
	}
}
