.paragraphs-behavior-style--align-inherit {
  text-align: inherit;
}

.paragraphs-behavior-style--align-left {
  text-align: left;
}

.paragraphs-behavior-style--align-centre {
  text-align: center;
}

// Alignment vertical by center main section.
.paragraphs-behavior-style--align-vertical-centre {
  .field--name-field-content {
    align-self: center;
  }
}