.paragraph--type--card-set {
  .field--name-field-title {
    position: relative;
    @include text ($font-size-deck-md, 700, normal);
    margin-top: 0;
    margin-bottom: 15px;
    @media #{$phablet-min} {
      font-size: $font-size-h1-tablet;
    }
    @media #{$phablet-laptop-landscape} {
      font-size: $font-size-h1-tablet;
      min-height: 65px;
    }
    @media #{$laptop-desktop-lg} {
      font-size: $font-size-md-title;
    }
  }

  .field--name-field-subtitle {
    margin-top: 0;
    font-size: $font-size-subtitle;
    @media #{$phablet-min} {
      font-size: $font-size-h1-tablet;
    }
  }

  .field--name-field-text p {
    @include text ($font-size-mobile, 100, normal);
    margin-bottom: 0;
    letter-spacing: .45px;
    @media #{$phablet-min} {
      font-size: $font-size-deck-sm;
    }
    @media #{$laptop-desktop} {
      font-size: $font-size-deck-md;
    }
  }
}

.paragraphs-behavior-style--card-set--icons {
  padding: 0 0 30px;
  @media #{$phablet-min} {
    padding: 40px 0;
    margin-top: -85px;
  }
  @media #{$laptop-desktop} {
    padding: 40px 0 60px;
  }
  @media #{$laptop-desktop} {
    padding: 60px 0;
    margin-top: -140px;
  }
}

.paragraphs-behavior-style--card-set--testimonials {
  padding: 20px 0;
  @media #{$phablet-min} {
    padding: 40px 0;
  }
}

[class*='cards-'] {
  .paragraph {
    position: relative;
    line-height: normal;
    flex-basis: 100%;
    padding: 0 15px;
    @media #{$phablet-min} {
      flex-basis: 45%;
      max-width: 400px;
    }
    @media #{$phablet-desktop-only} {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.cards-3 {
  .paragraph {
    @media #{$laptop-desktop-lg} {
      flex-basis: 33.33%;
      max-width: 330px;
    }
  }
}

.cards-4 {
  .paragraph {
    @media #{$laptop-desktop-lg} {
      flex-basis: 25%;
      max-width: 330px;
    }
  }

  .flex-wrapper {
    @media #{$laptop-desktop-lg} {
      justify-content: center;
    }
  }
}
