div[class*="paragraphs-behavior-style--side-"][class*="paragraphs-behavior-style--widths--"],
.two-columns {
	@media #{$phablet} {
		align-items: center;
	}

	.field--name-field-content-2,
	.field--name-field-content,
	.field--name-field-content-3 .panel-heading .panel-title {
		@media #{$mobile} {
			flex-basis: 100%;
		}
	}
}

@media #{$phablet-min} {
	.paragraphs-behavior-style--side-left {
		flex-direction: row-reverse;


		.field--name-field-content {
			padding-left: 30px;
		}

		.field--name-field-content-2 {
			padding-right: 30px;
		}

		.field--name-field-content-3 .panel-heading .panel-title {
			//padding-left: 30px;
		}

		.two-columns {
			flex-direction: row-reverse;
		}

		.field--name-field-content-3 {
			flex-basis: 100%;

			.panel-heading {
				display: flex;
				justify-content: flex-end;
			}
		}
	}

	.paragraphs-behavior-style--side-right {
		.field--name-field-content {
			padding-right: 30px;
		}

		.field--name-field-content-2 {
			padding-left: 30px;
		}
	}

	.paragraphs-behavior-style--widths--4-3 {
		.field--name-field-content,
		.field--name-field-content-3 .panel-heading .panel-title {
			flex-basis: 42.8%;
		}

		.field--name-field-content-2 {
			flex-basis: 57.2%;
		}
	}

	.paragraphs-behavior-style--widths--1-1 {
		.field--name-field-content,
		.field--name-field-content-3 .panel-heading .panel-title {
			flex-basis: 50%;
		}

		.field--name-field-content-2 {
			flex-basis: 50%;
		}
	}

	.paragraphs-behavior-style--widths--2-1 {
		.field--name-field-content,
		.field--name-field-content-3 .panel-heading .panel-title {
			flex-basis: 67.1%;
		}

		.field--name-field-content-2 {
			flex-basis: 32.9%;
		}
	}

	.paragraphs-behavior-style--widths--3-1 {
		.field--name-field-content,
		.field--name-field-content-3 .panel-heading .panel-title {
			flex-basis: 75.6%;
		}

		.field--name-field-content-2 {
			flex-basis: 24.4%;
		}
	}

	.paragraphs-behavior-style--widths--1-2-1  {
		.field--name-field-content-2,
		.field--name-field-content-3 {
			flex-basis: 29%;
		}

		.field--name-field-content {
			flex-basis: 42%;
			padding: 0 30px;
		}
	}
}
