.paragraph--type--title {
	margin: 30px auto;
  h2 {
    margin-top: 0px;
  }
	@media #{$phablet-min} {
		margin: 0 auto 80px;
	}
/**
  Removed as it complicates lots of things with little gain.
	&:after {
		content: '';
		display: block;
		width: 22px;
		height: 22px;
		background: url('../images/title-icon-after.png');
		margin: 30px auto 0;
		@media #{$phablet-min} {
			margin: 55px auto 0;
		}
	}
 */
}

.paragraphs-behavior-style--title-three-column {
	margin-top: 30px;
	@media #{$phablet-min} {
		margin-top: 100px;
	}

	.field--name-field-title {
		margin-bottom: 20px;
		@media #{$phablet-min} {
			margin-bottom: 46px;
		}

		&:after {
			margin: 36px auto 0;
		}
	}
}
