.paragraph--type--expandable-panel {

  &.panel {
    // Smaller margins
    padding-top: 10px;
    padding-bottom: 10px;
    @media #{$phablet-min} {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    // No dividing lines.
    border: none;
    // No background when hovered.
    &.collapsed:hover {
      background: none;
    }
  }

  .panel-title {
    @include text ($font-size-deck-sm, 100, 1.5, $ahs-color);
    text-decoration: underline;
    @media #{$phablet-min} {
      font-size: $font-size-deck-md;
    }
    @media #{$laptop-desktop} {
      font-size: $font-size-subtitle;
    }
    &:focus {
      color: $ahs-color;
    }

    .panel-body {
      padding: 15px 0px;
    }

    p {
      color: $ahs-color;
      text-decoration: underline;
      margin-bottom: 0;
    }

    .fa-caret-down {
      color: $ahs-color;
    }

    svg {
      margin: 0 5px;
    }
  }
}
