.paragraphs-behavior-style--background--hatched {
	background: url('../images/hatched-grey-background.png') repeat 100% 100%;
}

[class*='paragraphs-behavior-style--background--image-with-'] {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.paragraphs-behavior-style--background--image-with-light-text {
	color: $gray-darker;
}

.paragraphs-behavior-style--background--image-with-light-text {
	color: $gray-lighter;
}
