.paragraph--type--two-columns-with-expandable-pane,
.paragraph--type--two-columns {
  display: flex;
  flex-wrap: wrap;
  .two-columns {
    @extend .paragraph--type--two-columns-with-expandable-pane;
  }
}

.paragraph--type--two-columns {
  margin-bottom: 30px;
}
