{#
/**
 * @file
 * Display an expanding panel section.
 *
 * Available variables:
 * - heading: Contents of the panel header.
 * - body: Contents of the panel body.
 * - id: Anchor id.
 * - parent_selector: Selector identify group parent
 * - attributes: An attributes object
 * - expanded: if the panel should always be expanded
 */
#}
{{ attach_library('ahs_bootstrap/panel-enhance') }}
{% set classes = ['panel', 'panel-default'] %}
{% set attributes = attributes.addClass(classes) %}

{% set expanded = expanded is defined and expanded %}
{% if expanded %}
  {% set attributes = attributes.addClass(['always-expanded']) %}
{% endif %}

{% if id is not defined or id is empty%}
  {% set id = heading %}
{% endif %}
{% set id = id|clean_id|lower %}

{% if expanded %}

  <div {{ attributes }} id="{{ id }}">
    <div class="panel-heading" role="tab" id="heading-{{ id }}">
      <h4 class="panel-title">
        {{ heading }}
      </h4>
    </div>
    <div id="body-{{ id }}" role="tabpanel" aria-labelledby="heading-{{ id }}">
      <div class="panel-body">
        {{ body }}
      </div>
    </div>
  </div>

{% else %}

  <div {{ attributes }} data-ahs-bootstrap-panel-parent="{{ parent_selector }}" id="{{ id }}">
    <a role="button" href="#body-{{ id }}" aria-controls="body-{{ id }}" {% if not expanded %}data-toggle="collapse" aria-expanded="true" class="collapsed"{% endif %}>
      <div class="panel-heading" role="tab" id="heading-{{ id }}">
        <h4 class="panel-title">
          <span class="panel-title-text">
            {{ heading }}
          </span>
        </h4>
      </div>
    </a>
    <div id="body-{{ id }}" {% if not expanded %}class="panel-collapse collapse"{% endif %} role="tabpanel" aria-labelledby="heading-{{ id }}">
      <div class="panel-body">
        {{ body }}
      </div>
    </div>
  </div>

{% endif %}
