.checkout-pane {
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

/**
  Stop the order item summary table from having no spacing.
 */
.checkout-order-summary {
  td {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/**
  Ensure the notice about future recurring payments has space above.
 */
.checkout-summary-recurring-notice {
  padding-top: 20px;
}

/**
  Improve the feeling of security on the payment information pane.
 */
.checkout-pane-payment-information  {
  border: 1px solid lightsteelblue;
  border-radius: 24px;
  padding: 20px;
  background-color: aliceblue;

  .payment-form-container {
    display: flex;
    flex-wrap: wrap;

    .payment-form-main {
      @media #{$phablet-min} {
        max-width: 70%;
        padding-right: 10%;
        padding-bottom: 20px;
      }

    }
    .trust-seals {
      img {
        max-height: 50px;
        padding-right: 20px;
        @media #{$phablet-min} {
          display: block;
          margin-bottom: 25px;
        }
      }

    }
  }

  div.card-logos {
    img {
      max-width:50px;
    }
  }
  .panel-body {
    .stripe-form {
      .form-text {
        @extend .form-control;
        background-color: white;
        height: 50px;
        padding: 15.5px 15px;
        min-width: 100px;
        font-size: 16px;
      }

      #card-number-element {
        width: 14em;
      }
    }
  }
}

button.payment-review--next {
  visibility: hidden;
}
