/*
.panel-default {
border: 0 none;
box-shadow: none;

> .panel-heading {
  border: 0 none;
  background-color: transparent;
}
}
*/

/*form-control is bootstrap's class for boxy text-like form inputs */
.form-control,
.chosen-container.form-select,
.chosen-container-single .chosen-single, {
	width: auto;
	border: 1px solid $text-color;
	border-radius:4px;
	height: 50px;
	color: $text-color;
	padding: 0 16px;
	&:focus {
		border-color: $text-color;
		/*box-shadow: $box-shadow-form;*/
	}
}

.paragraph--type--webform {
  .form-email,  .form-text{
    width: 100%;
    max-width: 545px;
  }
}

/* The wrapper is a div around selects that holds bootstrap's enhanced chevron. It must fit tightly to the select
whose width is controlled by .form-control.
*/
.select-wrapper {
  width: auto;
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: 5px;
}

label {
	color: $ahs-color;
	&.option {
		color:$black;
	}
}
legend {
	color: $ahs-color;
}

.form-group {
	margin: 12px 0;
}

/* Make the main form submit be more prominent call to action button.*/
.form-actions  {
  .btn-default {
    @include call-to-action(false)
  }
  .btn-primary, .button--primary, .btn-default:first-child {
    @include call-to-action(true)
  }
}

.form-inline .radio,
.form-inline .checkbox {
	padding:20px 10px;
	vertical-align: bottom;
}

.form--inline .form-item {
	margin-right:20px;
}

.chosen-container-single  {
	.chosen-single {
		line-height: 50px;
		background: $white;

		div {
      display:none;
		}
	}

	.chosen-drop {
		padding: 16px;
		border-radius: 0 0 4px 4px;
		border: 1px solid $text-color;
		border-top: 0;

		.chosen-results li.highlighted {
			background: $ahs-color;
		}
	}
}

.chosen-container-active.chosen-with-drop {
	.chosen-single {
		background: $white;
		border-color: $text-color;

		div b {
			background-position: -16px 2px;
		}
	}
}

.form-inline .control-label {
	@media #{$phablet-min} {
		display: block;
		margin-bottom: 7px;
	}
}

// Hide the confusing 'Reset crop' button added by Image Widget Crop.
// This is a hacky but easy way to solve the problem.
.crop-preview-wrapper__crop-reset {
  display:none;
}

div .horizontal-tabs-panes {
  a.panel-title[aria-expanded="false"] {
    background-color: #f5f5f5;
    font-weight: normal;
  }

  a.panel-title[aria-expanded="true"] {
    background-color: #dbdbdb;
    font-weight: bold;
  }

  .panel, .panel-body, .panel-collapse, .collapse {
    padding: 15px !important;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

// Align webform radio description text more tightly with webform radio options
div.form-type-radio .webform-element-description {
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.webform-element-more {
  margin-bottom: 40px;
}

.user-login-form,
.user-register-form,
.user-pass,
.commerce-checkout-flow {
  input {
    max-width: 100%;
  }
}

form .views-field-purchased-entity {
  a {
    white-space: normal;
  }
}
