
.block-simplenews-subscription-block {
  margin-bottom: 30px;

  form.simplenews-subscriptions-block-footer {
    margin-top:20px;

    // Adjust for being against red background
    .button--primary {
      @include call-to-action(false);
      padding: 10px 20px;
      font-size: $font-size-mobile;
    }
    .button--primary {
      padding: 10px 20px;
      font-size: $font-size-mobile;
    }
    input.form-email {
      border:none;
    }
  }

  // Tighter more elegant styling.
  .form-required, .description {
    display:none;
  }
  input.form-email {
    border-radius: 30px;
    width: 100%;
    max-width: 545px;
  }
  .form-actions  {
    .button--primary {
      padding: 10px 20px;
      font-size: $font-size-mobile;
      border: 1px solid #b72003;
    }
  }

  // Make the message text align with button and input text
  .form-item-message {
    padding-left: 16px;
  }
}
