<a href="{{ url }}" class="card-event">
    <div class="card-event-inner">
        <div class="date-of-event">{{ content.field_dates }}</div>
        <h2>{{ label }}</h2>
        {{ content|without('label', 'field_dates') }}
    </div>
</a>
