
<div{{ attributes }}>

  {{ title_prefix }}
  {% if not page %}
    <h4{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h4>
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes }}>
    {{ content }}
  </div>

</div>
