@mixin text ($size, $weight, $height, $color: $text-color) {
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
	color: $color;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}


@mixin call-to-action ($light-on-dark: false){
  display: inline-block;
  letter-spacing: 1.5px;
  padding: 15px 33px;
  text-transform: uppercase;
  border-radius: 50px;
  transition: all .4s ease-in-out;
  @media #{$phablet-min} {
    padding: 22px 105px;
    font-size: $font-size-button;
  }

  $cta-foreground-color: $ahs-color;
  $cta-background-color: $white;
  border: 1px solid $cta-foreground-color;

  @if $light-on-dark {
    $cta-foreground-color: $white;
    $cta-background-color: $ahs-color;
    border: 1px solid $cta-foreground-color;
    outline: $cta-foreground-color;
  }

  @include text($font-size-mobile, bold, normal, $cta-foreground-color);
  background: $cta-background-color;


  &:hover, &:focus {
    background: $cta-foreground-color;
    color: $cta-background-color;
    border: 1px solid $cta-background-color;
    text-decoration: none;
  }
  &:active {
    background: $cta-background-color;
    color: $cta-foreground-color;
    border: 1px solid $cta-foreground-color;
    text-decoration: none;
    outline: $cta-foreground-color;
  }
}
