.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
}

.container,
.container-fluid,
[class*='col-'] {
	padding-left: $grid-gutter-width / 3;
	padding-right: $grid-gutter-width / 3;
}
.row {
	margin-right: -$grid-gutter-width / 3;
	margin-left: -$grid-gutter-width / 3;
}

@media #{$phablet-min} {
	.container,
	.container-fluid,
	[class*='col-'] {
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
	}
	.row {
		margin-right: -$grid-gutter-width / 2;
		margin-left: -$grid-gutter-width / 2;
	}
}

.rounded-with-shadow {
	box-shadow: $box-shadow-hero;
	border-radius: 25px;
	@media #{$phablet-min} {
		border-radius: 50px;
	}
}

.background--brand-primary {
	background-color: $ahs-color;
	color: $white;
}

h2 {
	@include text ($font-size-deck-md, normal, 1.27, inherit);
	letter-spacing: 0.9px;
	@media #{$phablet-min} {
		font-size: $font-size-title;
	}
	@media #{$laptop-desktop} {
		font-size: $font-size-global-title;
	}
}

p {
	@include text($font-size-deck-sm, 100, 1.5);
	margin-bottom: 20px;
	@media #{$phablet-min} {
		font-size: $font-size-deck-md;
		margin-bottom: 40px;
	}
	@media #{$laptop-desktop} {
		font-size: $font-size-subtitle;
	}
}

a:hover, a:focus {
  text-decoration:none;
}

.flex-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	@media #{$phablet-min} {
		margin: 0 -15px;
		justify-content: center;
	}
	@media #{$laptop-desktop-lg} {
		justify-content: space-between;
	}
	@media #{$laptop-desktop-only} {
		margin: 0 auto;
	}
}

.breadcrumb {
	background-color: transparent;
	margin-bottom: 0;
	padding-left: 0;
	a {
		color: $ahs-color;
	}
}

.page-header {
	margin-top: ($line-height-computed * 2)
}

#page-wrapper {
  max-width: 1550px;
  margin: 0 auto;
}

//  Custom style applied by a field group, used to concatenate multiple fields onto single line.
.inline-fields * {
  display:inline;
}

// Improve display of default address on user address book
.address-book__profile {
  padding: 1em;
}
.address-book__profile--default {
  border: 2px solid $ahs-color;
  border-radius: 20px;
}
// Hide border when default address is only address.
.address-book__profile--default:last-of-type {
  border: none;
}

// Clearfix after inline field labels.
// This really should be fixed in parent theme, don't know why we have to do this.
.field--label-inline::after {
  content: "";
  clear: both;
  display: table;
}

// Spacing after description should reflect spacing between description paragraphs.
// Apply margin to content field or panel parent, but not to content field if inside panel parent.
.group .ahs-bootstrap-panel-parent, .group div:not(.ahs-bootstrap-panel-parent) > .field--name-field-content  {
  margin-top: 20px;
  @media #{$phablet-min} {
    margin-top: 40px;
  }
}


// Style panels more lightly, and with carets.
.panel {
  border: none;
  border-top: 1px solid $very-light-grey;
  border-bottom: 1px solid $very-light-grey;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin:0px;

  padding-top: 20px;
  padding-bottom: 20px;
  @media #{$phablet-min} {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .panel-body {
    // Align contents with margin.
    padding: 0px;
    // Create space before.
    margin-top:20px;
    @media #{$phablet-min} {
      margin-top: 40px;
    }
  }

  &:not(.collapsed) .panel-heading {
  }

  .panel-heading {
    // Remove bootstrap styling.
    border:none;
    background: none;
    // Align contents with margin.
    padding: 0px;
    // Look like a regular title not a link.
    color: $text-color;

    .panel-title {
      font-size: $font-size-deck-md;
      @media #{$phablet-min} {
        font-size: $font-size-subtitle;
      }

      // Ensure svg is vertically aligned in centre of text.
      display: flex;
      align-items: center;

      // Ensure text does not wrap under svg when long.
      .panel-title-text {
        display: block;
        margin-left: 0.5em;
      }

      svg {
        // Ensure text does not wrap uder svg when long.
        float: left;
        // Show appropriate caret.
        &.fa-caret-right {
          display:none;
        }
      }
    }
  }

  &.collapsed {
    // Show a hover background on expandable heading.
    &:hover {
      background-color: whitesmoke;
    }

    .panel-heading {
      // Use anchor color on collapsed headings.
      color: inherit;

      // Show appropriate caret.
      .panel-title svg {
        &.fa-caret-right {
          display: inline;
        }
        &.fa-caret-down {
          display: none;
        }
      }
    }
  }
}

.panel.always-expanded {
  h4 {
    svg {
      display:none;
    }
  }
}

// Hide Google recaptcha v.3 badges.
.grecaptcha-badge {
  visibility: hidden;
}
