// Copied from web/themes/ahs/ahs_bootstrap/drupal-bootstrap-styles/drupal-bootstrap-styles-master/src/3.x.x/8.x-3.x/scss/_default-variables.scss
// Set the directory for the theme root used to locate images, fonts etc.
$theme-root: '..';
// Set other directories relative to theme root.
$image-path: '#{$theme-root}/images';
$icon-font-path: '#{$theme-root}/node_modules/bootstrap-sass/assets/fonts/bootstrap/';

//== Typography.
//## Font, line-height, and color for body text, headings, and more.
$font-family-lato:          'Lato', sans-serif;
$font-family-marcellus:        'Marcellus', serif;

$font-size-base:            16px;                            // 16px.
$font-size-button:          $font-size-base;                 // 16px.
$font-size-mobile:          ceil(($font-size-base * 0.85));  // 14px.
$font-size-xlg-title:       floor(($font-size-base * 4.5));  // 72px.
$font-size-lg-title:        floor(($font-size-base * 3.8));  // 60px.
$font-size-md-title:        floor(($font-size-base * 2.3));  // 36px.
$font-size-h1-tablet:       floor(($font-size-base * 1.8));  // 28px.
$font-size-title:           floor(($font-size-base * 1.9));  // 30px.
$font-size-global-title:    floor(($font-size-base * 2.9));  // 46px.
$font-size-subtitle:        floor(($font-size-base * 1.50)); // 24px.
$font-size-deck-md:         floor(($font-size-base * 1.3));  // 20px.
$font-size-deck-sm:         floor(($font-size-base * 1.15)); // 18px.

// Colors.
$white:      #fff;
$black:      #000;
$text-color: #252525;
$ahs-color:  #b72003;
$very-light-grey:   #e8e8e8;

// Box shadow.
$box-shadow-icons:  0 0 20px -2px rgba(0, 0, 0, .31);
$box-shadow-hero:   0 0 50px 10px $very-light-grey;
$box-shadow-events: 0 10px 48px 3px rgba(0, 0, 0, 0.15);

// Overridden bootstrap default variables.
$font-family-base:                 $font-family-lato;
$navbar-default-link-color:        $text-color;
$navbar-default-link-hover-color:  $ahs-color;
$navbar-default-link-active-color: $ahs-color;
$navbar-default-color:             $text-color;
$grid-gutter-width:                52px;
$btn-primary-bg:                   darken($ahs-color, 0%);
$btn-primary-border:               darken($ahs-color, 0%);
