{% extends "paragraph.html.twig" %}
{% block paragraph %}
  {% include '@ahs_bootstrap/components/section-panel.html.twig' with {
    heading: paragraph.field_panel_link.value,
    body: content,
    parent_selector: parent_selector|default(".field--items"),
    attributes: attributes.addClass(classes)
  } %}

{% endblock %}
