{% extends "paragraph.html.twig" %}

{% block paragraph %}
  {# Use an expanding panel section if a title is given. #}
  {% if paragraph.field_title.value %}
        {% include '@ahs_bootstrap/components/section-panel.html.twig' with {
          heading: paragraph.field_title.value,
          body: content,
          parent_selector: parent_selector|default(".field--items"),
          attributes: attributes.addClass(classes),
          expanded: expanded
        } %}
  {%  else %}
    {{ parent() }}
  {%  endif %}
{% endblock %}
