{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% if attributes.hasClass('background--image') %}
  {% set attributes = attributes.addClass('page-header-with-background') %}
{% endif %}

{% set container_attribute = create_attribute() %}

{% if attributes.hasClass('paragraphs-behavior-style--container-limited') %}
  {% set container_attribute = container_attribute.addClass('container') %}
{% else %}
  {% set container_attribute = container_attribute.addClass('container-fluid') %}
{% endif %}

<div {{ attributes }}>
  {% set attributes = create_attribute() %}
  {% if background_image_uri %}
    {% set responsiveimagestyle = {
      '#theme': 'responsive_image',
      '#responsive_image_style_id': 'full_width',
      '#uri': background_image_uri,
      '#attributes': { class: 'background-responsive-image' }
    } %}
    {{ responsiveimagestyle }}
  {% endif %}
  {% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
      {% block content %}
        <div {{ container_attribute }}>
          <div class="row">
            {{ content|without('field_background_image') }}
          </div>
        </div>
      {% endblock %}
    </div>
  {% endblock paragraph %}
</div>
