{#
/**
 * @file
 * Allow page titles to have full-width background images.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page_title()
 */
#}
{% if background_image_uri is defined %}
  {% set attributes = create_attribute() %}
  {% set attributes = attributes.addClass('rounded-with-shadow') %}
  {% set attributes = attributes.addClass('page-header-with-background') %}
  <div {{ attributes }}>
    {% if background_image_uri %}
      {% set responsiveimagestyle = {
        '#theme': 'responsive_image',
        '#responsive_image_style_id': 'full_width',
        '#uri': background_image_uri,
        '#attributes': { class: 'background-responsive-image' }
      }
      %}
      {{ responsiveimagestyle }}
    {% endif %}
    {% if title %}
      <div class="wrapper-content-hero">
        <h1{{ title_attributes }}><div>{{ title }}</div></h1>
      </div>
    {% endif %}
  </div>
{% else %}
  {% if title %}
    <h1{{ title_attributes.addClass('page-header') }}>{{ title }}</h1>
  {% endif %}
{% endif %}
