<html>
<head>
    <style>
        h1 {
            margin: 1%;
        }
        .row {
            display: flex;
            flex-direction: row;
        }
        .shots {
            flex: 1 1 0;
            margin: 1%;
        }
        .set p {
            margin: 1%;
        }
        img {
            max-width:500px;
            display: block;
            border: 1px solid darkgray;
            margin-bottom: 10px;
        }
        .dummy .shots {
            border: 1px solid red;
        }
        .dummy {
            display:none;
        }

    </style>
</head>
<body>
<h1>Visual changes</h1>
{{body}}
<div class="set dummy">
  <p>Dummy content to help styling</p>
  <div class="row">
    <div class="shots shots-900">

    </div>
    <div class="shots shots-1100">
        <a class="shot">
            <img src="dummy.png">
        </a>
    </div>
    <div class="shots shots-1500">
        <a class="shot">
            <img src="dummy.png">
        </a>
        <a class="shot">
            <img src="dummy.png">
        </a>
    </div>
  </div>
</div>
</body>
</html>
