/* We use this in tests to check that style inlining is working. @see NewsTrait::assertInlineStylesPresent() */
body.email--html-news--doc {
  --testname: 'testvalue';
}

body.email--html-news--doc .unstyled-content * {
  font-family: 'Lato', sans-serif;
}

body.email--html-news--doc .unstyled-content a {
  color: #337ab7;
}

.block--additional .subheading {
  margin-top: 2em;
  margin-bottom: 0em;
  margin-left: 70px;
}

.block--additional .view td:nth-child(2){
  padding-left: 20px;
}

.block--additional .view td.views-field {
  vertical-align: middle;
  padding-top: 20px;
}
.block--additional .view .views-field h2, .block--additional .view .views-field h3 {
  font-size: 1.2em;
  margin-bottom: 0.2em;
  font-weight: normal;
}

.view-user-possible-groups .field--name-field-dates {
  white-space: nowrap;
}


.view .field--name-user-picture img {
  border-radius: 50%;
  max-height: 50px;
  max-width: 50px;
}
.view td.views-field-field-leaders {
  max-width: 50px;
}


.inline-fields * {
  display:inline;
}

