.view {
  /* By default pager links are right and left, but on a mini pager these are too wide and easily not seen. */
  nav  {
    a.mini-pager {
      float: none;
    }
  }

  /* A class that can be configured on views rows that turns the view output into a single blob for easy copy-paste*/
  .views-row-inline {
    display:inline;
    div {
      display:inline;
    }
  }

  /* An unpleasant temporary hack to deal with the fact that h2 titles are huge in some important views */
  h2, h3 {
    font-size: 130%;
    margin-top: $line-height-computed / 2;
    margin-bottom: ($line-height-computed / 8);
  }

  /* Round user pictures. Ideally this would be done using a rendered entity for users everywhere. */
  .views-field-user-picture, .field--name-user-picture {
    img {
      border-radius: 50%;
      max-height: 50px;
      max-width: 50px;
    }
  }

  /* Style the help wanted & news homepage views. Technically a table but we want it styled plain*/
  &.view-help-wanted, &.view-news.view-display-id-block_1 {
    .table > tbody > tr > td {
      border-top: none;
      vertical-align: middle;
    }
    .views-field-title {
      span {
        display:block;
      }
    }
  }
}

.view-group-members {
  table {
    table-layout: fixed;
    @media #{$mobile} {
      table-layout: initial;
    }

    th {
      word-break: break-word;
    }
    th.views-field-display-name,
    td.views-field-display-name {
      width: 210px;
    }
    th.views-field-dropbutton,
    td.views-field-dropbutton {
      width: 200px;
      .btn {
        white-space: normal;
      }
    }
  }
}



