{% import "@ahs_email/email--styles.html.twig" as styles %}

{% if preheader|default %}
  <!-- Visually Hidden Preheader Text : BEGIN -->
  <div style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;mso-hide:all;font-family: sans-serif;">
    {{ preheader }}
  </div>
  <!-- Visually Hidden Preheader Text : END -->
{% endif  %}

<!--
    Set the email width. Defined in two places:
    1. max-width for all clients except Desktop Windows Outlook, allowing the email to squish on narrow but never go wider than 680px.
    2. MSO tags for Desktop Windows Outlook enforce a 680px width.
    Note: The Fluid and Responsive templates have a different width (600px). The hybrid grid is more "fragile", and I've found that 680px is a good width. Change with caution.
-->
<div style="max-width: 680px; margin: auto;" class="email-container">
  <!--[if mso]>
  <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
    <tr>
      <td>
  <![endif]-->

  <!-- Email Body : BEGIN -->
  <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;" class="email-container">

    {% block header %}
      <!-- HEADER : BEGIN -->
      <tr>
        <td bgcolor="{{ styles.white }}">
          <table class="layout" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
              <td style="padding: 5px 20px 5px 40px; text-align: left; vertical-align: middle; width: 30px;">
                <img src="{{ url('<front>')|render }}themes/ahs/ahs_email/logo.png" width="171" height="20" alt="logo" border="0" style="height: auto; font-family: {{ styles.logofont }}; font-size: 20px; line-height: 20px; color: {{ styles.white }};">
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- HEADER : END -->
    {% endblock %}

    <!-- HERO : BEGIN -->
    <tr>
      {% block hero %}
        {% include "@ahs_email/email--html-news--hero.html.twig" with {
          title: title,
          subtitle: subtitle,
          hero_image_url: hero_image_url,
          cta: cta,
          cta_url: cta_url,
        } %}
      {% endblock %}
    </tr>
    <!-- HERO : END -->

    <!-- LEAD : BEGIN -->
    <tr>
      <td bgcolor="{{ styles.white }}" class="block--lead">
        {% block lead %}
          {% if lead|default %}
            <table  class="layout" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
              <tr>
                <td class="unstyled-content" style="padding: 40px 40px 20px 40px; font-family: {{ styles.basefont }}; font-size: 18px; line-height: 24px; color: #252525; text-align: left; font-weight:normal;">
                  {{ lead }}
                </td>
              </tr>
            </table>
          {% endif %}
        {% endblock %}
      </td>
    </tr>
    <!-- LEAD : END -->

    <!-- Button : BEGIN -->
    {% if cta|default and cta_url|default %}
      <tr>
        <td bgcolor="{{ styles.white }}" valign="top" align="center" style="text-align: center; padding: 15px 0px 15px 0px;">
          <center>
            <table role="presentation" align="center" cellspacing="0" cellpadding="0" border="0" class="center-on-narrow" style="text-align: center;">
              <tr>
                <td style="border-radius: 50px; background: #0159B7; text-align: center;" class="button-td">
                  <a href="{{ cta_url }}" style="background: {{ styles.ahscolor }}; border: 15px solid {{ styles.ahscolor }}; font-family: {{ styles.basefont }}; font-size: 14px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 50px; font-weight: bold;" class="button-a">
                    <span style="color:{{ styles.white }};" class="button-link">&nbsp;&nbsp;&nbsp;&nbsp;{{ cta }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  </a>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    {% endif %}
    <!-- Button : END -->

    <!-- ADDITIONAL : BEGIN -->
    <tr>
      <td bgcolor="#f7fafc">
        <table  class="layout" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
          <tr>
            <td class="block--additional unstyled-content" style="padding: 40px 40px 20px 40px; font-family: {{ styles.basefont }}; font-size: 18px; line-height: 24px; color: #252525; text-align: left; font-weight:normal;">
        {% block additional %}{% endblock %}
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- ADDITIONAL : END -->

    <!-- FOOTER : BEGIN -->
    <tr>
      <td bgcolor="{{ styles.white }}">
        {% if show_socials %}
          <table align="center" style="text-align: center; margin-top: 30px !important">
            <tr>
              <td>
                <a href="https://www.facebook.com/LamaShenpenBuddhaWithin">
                  <img src="{{ url('<front>')|render }}themes/ahs/ahs_email/socials/facebook.png" width="20" height="20" style="margin:0; padding:0; border:none; display:block;" border="0" alt="">
                </a>
              </td>
              <td width="10">&nbsp;</td>
              <td>
                <a href="https://www.instagram.com/lamashenpenbuddhawithin">
                  <img src="{{ url('<front>')|render }}themes/ahs/ahs_email/socials/instagram.png" width="20" height="20" style="margin:0; padding:0; border:none; display:block;" border="0" alt="">
                </a>
              </td>
              <td width="10">&nbsp;</td>
              <td>
                <a href="https://twitter.com/lamashenpen">
                  <img src="{{ url('<front>')|render }}themes/ahs/ahs_email/socials/twitter.png" width="20" height="20" style="margin:0; padding:0; border:none; display:block;" border="0" alt="">
                </a>
              </td>
              <td width="10">&nbsp;</td>
              <td>
                <a href="https://www.youtube.com/ahshermitage">
                  <img src="{{ url('<front>')|render }}themes/ahs/ahs_email/socials/youtube.png" width="20" height="20" style="margin:0; padding:0; border:none; display:block;" border="0" alt="">
                </a>
              </td>
            </tr>
          </table>
        {% endif %}
        <table class="layout" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
          <tr>
            <td style="padding: 40px 40px 10px 40px; font-family: {{ styles.basefont }}; font-size: 12px; line-height: 18px; color: #666666; text-align: center; font-weight:normal;">
              {% block footer %}
              {% endblock %}
            </td>
          </tr>
          <tr>
            <td style="padding: 0px 40px 10px 40px; font-family: {{ styles.basefont }}; font-size: 12px; line-height: 18px; color: #666666; text-align: center; font-weight:normal;" class="block--subscription">
              {% block subscription %}
                {% embed "@ahs_email/email--html-news--subscription.html.twig" %}
                {% endembed %}
              {% endblock %}
            </td>
          </tr>
          <tr>
            <td style="padding: 0px 40px 40px 40px; font-family: {{ styles.basefont }}; font-size: 12px; line-height: 18px; color: #666666; text-align: center; font-weight:normal;">
              <p style="margin: 0;">Copyright &copy; {{ 'now' | date('Y') }} The Shrimala Trust, Ynys Graianog, Criccieth LL52 0NT, UK</p>
            </td>
          </tr>

        </table>
      </td>
    </tr>
    <!-- FOOTER : END -->

  </table>
  <!-- Email Body : END -->

  <!--[if mso]>
  </td>
  </tr>
  </table>
  <![endif]-->
</div>
