{% set template = "@ahs_email/email--html-news--body.html.twig" %}
{% set show_socials = TRUE %}

{% if not node.field_subtitle.isEmpty %}
  {% set subtitle = node.field_subtitle.value %}
  {% set preheader = node.field_subtitle.value %}
{% endif %}

{% if not node.body.isEmpty %}
  {# slice at 200 so the email client can handle word breaks as preheaders are never 200 long #}
  {% set body_preheader = node.body.value|striptags|trim|slice(0,200) %}
  {% set preheader = preheader|default('')|trim|trim('.') %}
  {% set preheader = preheader ? preheader ~ ' - ' ~ body_preheader : body_preheader%}
{% endif %}

{% if not node.field_link.isEmpty %}
  {% set cta = node.field_link.title %}
  {# https://drupal.stackexchange.com/questions/199262/how-to-get-the-valid-url-of-a-link-field-from-within-a-twig-template #}
  {#  setAbsolute is possible because we allow it in settings.php #}
  {% set cta_url = node.field_link.get(0).getUrl.setAbsolute.toString %}
{% endif %}

{% embed template with {
  title: node.getTitle,
  lead: build,
} %}

  {% block additional %}

    {# Coming soon precedes news for non-members but not for members #}
    {% if not isMember %}
      {% set coming_soon_count = drupal_view_result('user_possible_groups', 'email_footer', user.id())|length %}
      {% if coming_soon_count > 0 %}
        <div class="coming-soon">
          <h2 class="subheading">Coming soon</h2>
          {{ drupal_view('user_possible_groups', 'email_footer', user.id()) }}
        </div>
      {% endif %}
    {% endif %}

    {% set other_news_count = drupal_view_result('news', 'email_footer', node.id(), user.id(), simplenews_subscriber.uuid())|length %}
    {% if other_news_count > 0 %}
      <div class="other-news">
        <h2 class="subheading">Other news</h2>
        {# subscriber.uiid() is used as a null contextual filter used to append a tracking param to links #}
        {{ drupal_view('news', 'email_footer', node.id(), user.id(), simplenews_subscriber.uuid()) }}
      </div>
    {% endif %}

    {% if isMember %}
      {% set coming_soon_count = drupal_view_result('user_possible_groups', 'email_footer', user.id())|length %}
      {% if coming_soon_count > 0 %}
        <div class="coming-soon">
          <h2 class="subheading">Coming soon</h2>
          {{ drupal_view('user_possible_groups', 'email_footer', user.id()) }}
        </div>
      {% endif %}
    {% endif %}

    {% if isMember %}
      {% set help_wanted_count = drupal_view_result('help_wanted', 'block_1')|length %}
      {% if help_wanted_count > 0 %}
        <div class="help-wanted">
          <h2 class="subheading">Help wanted</h2>
          {{ drupal_view('help_wanted', 'block_1') }}
        </div>
      {% endif %}
    {% endif %}

  {% endblock %}

  {% block footer %}
    {% if isMember %}
      <p>Contact <strong>support@ahs.org.uk</strong> for help with books, courses, mentoring, membership, donations and more.</p>
    {% else %}
      <p>Contact <strong>info@ahs.org.uk</strong> for enquiries about the Awakened Heart Sangha.</p>
    {% endif %}
  {% endblock %}

{% endembed %}
