{% macro ahscolor() %}#b72003{% endmacro %}
{% macro white() %}#ffffff{% endmacro %}
{% macro basefont() %}'Lato',sans-serif{% endmacro %}
{% macro headerfont() %}'Lato',sans-serif{% endmacro %}
{% macro logofont() %}'Marcellus',serif{% endmacro %}
{# % macro font(params) %} font-family: {{ params.font-family|default('sans-serif') }}; font-size: {{ params.font-size|default('18px') }}; line-height: {{ params.line-height|default('20px') }}; color: {{ params.color|default('#252525') }}; text-align: {{ params.text-align|default('#252525') }}; font-weight: {{ params.font-weight|default('normal') }}; % #}
