<p style="margin: 0;">This email was sent to {{ recipient_email }}.</p>
{% if receiving_reason %}
  <p style="margin: 0;">{{ receiving_reason }}</p>
{% endif %}

{% if not unsubscribe_hidden %}
  <p style="margin: 0;"><a href="{{ unsubscribe_url }}">{{ unsubscribe_text }}</a></p>
{% endif %}
