{% set text_over_image_styles = 'background-color: rgba(0, 0, 0, 0.30); padding: 8px 10px !important; border-radius: 13px; color: #ffffff;' %}
{% set text_over_image_styles = hero_image_url|default ? text_over_image_styles : '' %}

<!-- Bulletproof Background Images c/o https://backgrounds.cm -->
<td {% if hero_image_url|default %}background="{{ hero_image_url }}" bgcolor="#222222"{% else %}bgcolor="{{ styles.white }}"{% endif %} align="center" valign="top" style="text-align: center; background-position: center center !important; background-size: cover !important;">
  {% if hero_image_url|default %}
    <!--[if gte mso 9]>
    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:680px; height:380px; background-position: center center !important;">
      <v:fill type="tile" src="{{ hero_image_url }}" color="#222222" />
      <v:textbox inset="0,0,0,0">
    <![endif]-->
  {% endif %}
  <div>
    <!--[if mso]>
    <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="500">
      <tr>
        <td align="center" valign="middle" width="500">
    <![endif]-->
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:500px; margin: auto;">

      {% if hero_image_url|default %}
      <tr>
        <td height="20" style="font-size:20px; line-height:20px;">&nbsp;</td>
      </tr>
      {% endif %}

      <tr>
        <td align="center" valign="middle">

          <table>
            <tr>
              <td valign="top" style="text-align: center; padding: 60px 0px 10px 0px;">

                <h1 style="margin: 0; font-family: {{ styles.headerfont }}; font-size: 30px; line-height: 36px; font-weight: bold; {{ text_over_image_styles }}">
                  {{ title }}
                </h1>
              </td>
            </tr>
            {% if subtitle|default %}
              <tr>
                <td valign="top">
                  <h2 style="margin: 0; text-align: center; padding: 10px 20px 15px 20px; font-family: {{ styles.headerfont }}; font-size: 24px; line-height: 26px; font-weight: normal; {{ text_over_image_styles }}">{{ subtitle }}</h2>
                </td>
              </tr>
            {% endif %}
            {% if cta|default and cta_url|default %}
              <tr>
                <td valign="top" align="center" style="text-align: center; padding: 15px 0px 15px 0px;">

                  <!-- Button : BEGIN -->
                  <center>
                    <table role="presentation" align="center" cellspacing="0" cellpadding="0" border="0" class="center-on-narrow" style="text-align: center;">
                      <tr>
                        <td style="border-radius: 50px; background: #0159B7; text-align: center;" class="button-td">
                          <a href="{{ cta_url }}" style="background: {{ styles.ahscolor }}; border: 15px solid {{ styles.ahscolor }}; font-family: {{ styles.basefont }}; font-size: 14px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 50px; font-weight: bold;" class="button-a">
                            <span style="color:{{ styles.white }};" class="button-link">&nbsp;&nbsp;&nbsp;&nbsp;{{ cta }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </center>
                  <!-- Button : END -->

                </td>
              </tr>
            {% endif %}
          </table>

        </td>
      </tr>

      {% if hero_image_url|default %}
      <tr>
        <td height="20" style="font-size:20px; line-height:20px;">&nbsp;</td>
      </tr>
      {% endif %}

    </table>
    <!--[if mso]>
    </td>
    </tr>
    </table>
    <![endif]-->
  </div>
  <!--[if gte mso 9]>
  </v:textbox>
  </v:rect>
  <![endif]-->
</td>
