{#
/**
 * @file
 * Default theme implementation to format the simplenews newsletter body.
 *
 * Copy this file in your theme directory to create a custom themed body.
 * Rename it to override it. Available templates:
 *   simplenews-newsletter-body--[newsletter_id].html.twig
 *   simplenews-newsletter-body--[view mode].html.twig
 *   simplenews-newsletter-body--[newsletter_id]--[view mode].html.twig
 * See README.txt for more details.
 *
 * Available variables:
 * - build: Render array. Use {{ build }} to print it.
 * - node: object(Drupal\node\Entity\Node)
 *   The node entity with limited access to object properties and methods.
 *   * Methods: Only "getter" methods (method names starting with "get", "has", or "is")
 *     and a few common methods such as "id" and "label" are available.
 *     {{ node.getTitle }} : the Node title ( == {{ title }} )
 *     Calling other methods (such as node.delete) will result in an exception.
 *   * Properties: field values can be accessed as follows:
 *     {{ node.body.value | raw }} : text of body field
 * - newsletter: object(Drupal\simplenews\Entity\Newsletter)
 *     {{ newsletter.from_name }}: string
 *     {{ newsletter.subject }}: string
 * - title: Node title
 * - view_mode: The active display view mode of the node
 * - key: email key [node|test]
 * - format: newsletter format [plain|html]
 * - simplenews_subscriber: object(Drupal\simplenews\Entity\Subscriber)
 *   The subscriber for which the newsletter is built.
 *     {{ simplenews_subscriber.getMail  }}: string: subscriber's email address
 *   Note that depending on the used caching strategy, the generated body might
 *   be used for multiple subscribers. If you created personalized newsletters
 *   and can't use tokens for that, make sure to disable caching or write a
 *   custom caching strategy implemention.
 *
 * @see template_preprocess_simplenews_newsletter_body()
 */
#}

{% set template = "@ahs_email/email--issue--default.html.twig" %}
{% set user = simplenews_subscriber.getUser() %}
{% set isMember = user and user.hasRole('member') %}
{% set recipient_email = simplenews_subscriber.getMail %}
{% set unsubscribe_url = '[simplenews-subscriber:manage-url]' %}
{% set unsubscribe_text = "Unsubscribe or manage the emails you receive" %}
{% set receiving_reason = "You received this email because you are subscribed to Awakened Heart Sangha news." %}
{% set receiving_reason = isMember ? "You received this email because you are a member of the Awakened Heart Sangha." : receiving_reason %}
{# Hide the unsubscribe url if the subscriber is a temporary preview subscriber, oherwise the manage-url token throws an error. #}
{% set unsubscribe_hidden = simplenews_subscriber.id() ? FALSE : TRUE %}

{% embed template %}
{% endembed %}

{% if key == 'test' %}
  - - - {{ test_message }} - - -
{% endif %}
