{#
/**
 * @file
 * Provides transcription-oembed.html.twig
 *
 * Available variables:
 *   - transcript: The transcript typed data.
 *   - url: The URL of the source video.
 *   - width: The width of the source video.
 *   - height: The height of the source video.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('transcription_hyperaudio/hyperaudio_player') }}

{# Add random ids in case of multiple videos. #}
{% set hyperplayer = 'hyperplayer' ~ random(100) %}
{% set hypertranscript = 'hypertranscript' ~ random(100) %}

<iframe id="{{ hyperplayer }}" class="media-oembed-content" data-player-type="youtube" width="{{ width }}" height="{{ height }}" frameborder="no" allow="autoplay" src="{{ url }}"></iframe>
<div id="{{ hypertranscript }}" class="hyperaudio-transcript" style="overflow-y:scroll; height:600px; position:relative; border-style:dashed; border-width: 1px; border-color:#999; padding: 8px">
  <article>
    <section>
      {% for paragraph in transcript %}
        <p>
          {% for item in paragraph %}
            {% if item.speaker %}
              <span class="speaker" data-m="{{ item.start }}" data-d="{{ item.duration }}">{{ item.text }}</span>
            {% else %}
              <span data-m="{{ item.start }}" data-d="{{ item.duration }}">{{ item.text }}</span>
            {% endif %}
          {% endfor %}
        </p>
      {% endfor %}
    </section>
  </article>
</div>
<script>
  let minimizedMode = false;
  let autoScroll = true;
  let doubleClick = false;
  let webMonetization = false;
  let playOnClick = false;

  new HyperaudioLite("{{ hypertranscript }}", "{{ hyperplayer }}", minimizedMode, autoScroll, doubleClick, webMonetization, playOnClick);
</script>
