{#
/**
 * @file
 * Provides transcription-audio.html.twig
 *
 * Available variables:
 * - transcript: The transcript typed data.
 * - attributes: An array of HTML attributes, intended to be added to the
 *   audio tag.
 * - files: And array of files to be added as sources for the audio tag. Each
 *   element is an array with the following elements:
 *   - file: The full file object.
 *   - source_attributes: An array of HTML attributes for to be added to the
 *     source tag.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('transcription_hyperaudio/hyperaudio_player') }}

{# Add random ids in case of multiple audios. #}
{% set hyperplayer = 'hyperplayer' ~ random(100) %}
{% set hypertranscript = 'hypertranscript' ~ random(100) %}

<audio id="{{ hyperplayer }}" {{ attributes }}>
  {% for file in files %}
    <source {{ file.source_attributes }} />
  {% endfor %}
</audio>
<div id="{{ hypertranscript }}" class="hyperaudio-transcript" style="overflow-y:scroll; height:600px; position:relative; border-style:dashed; border-width: 1px; border-color:#999; padding: 8px">
  <article>
    <section>
      {% for paragraph in transcript %}
        <p>
          {% for item in paragraph %}
            {% if item.speaker %}
              <span class="speaker" data-m="{{ item.start }}" data-d="{{ item.duration }}">{{ item.text }}</span>
            {% else %}
              <span data-m="{{ item.start }}" data-d="{{ item.duration }}">{{ item.text }}</span>
            {% endif %}
          {% endfor %}
        </p>
      {% endfor %}
    </section>
  </article>
</div>
<script>
  let minimizedMode = false;
  let autoScroll = true;
  let doubleClick = false;
  let webMonetization = false;
  let playOnClick = false;

  new HyperaudioLite("{{ hypertranscript }}", "{{ hyperplayer }}", minimizedMode, autoScroll, doubleClick, webMonetization, playOnClick);
</script>
