footer {
  color: #fff;
  border: none;
  background-color: #b72003;
  padding: 50px 15px;
  border-radius: 50px;
  box-shadow: 0 0 65px 10px #e7e7e7;
  border-top: 0!important;
  p {
    color: #fff;
  }
  a {
    color:#fff;
    font-size: 12px;
    @media #{$phablet-min} {
      font-size: 14px;
    }
    @media #{$laptop-desktop} {
      font-size: 16px;
    }
  }

  .menu {
    padding:0!important;
    margin:0!important;
    li {
      a {
        padding-bottom:10px;
        &:hover,
        &:active,
        &:focus {
          background: transparent!important;
          color:#fff!important;
          text-decoration: underline!important;
        }
      }
      a.is-active {
        color:#fff;
      }
    }
  }

  .menu--main {
    margin-bottom:20px!important;
    li {
      float:none;
    }
  }
  .nav {
    clear:both;
  }

  .social-media-links--platforms {
    margin-top: 30px;
    li {
      margin:0 9px;
      a {
        &:hover,
        &:active,
        &:focus {
          color: #fff;
        }
      }
    }
  }
  .layout--threecol-section {
    padding-left:0;
    padding-right:0;
  }

}

section#copyright {
  text-align: center;
  font-size: 14px;
  margin-bottom:12px;
  p {
    font-size: 14px;
  }
  a {
    color:#000;
  }
}
