.navbar-default {
  background-color: transparent;
  border: none;
  margin-bottom: 0;
  padding: 30px 43.33px;
  @media #{$phablet-min} {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
  }

  // All top menus should be black.
  .menu {
    li {
      a {
        color: $text-color;
      }
    }
  }
}

.navbar-toggle {
  @media #{$mobile} {
    margin-top: 17px;
    margin-right: -15px;
    margin-left: inherit;
  }
}

.navbar-header,
.navbar-collapse {
  flex: 1 0 auto;

  // Logo.
  .region-navigation {
    display: inline-flex;
    align-items: center;

    img {
      @media #{$mobile} {
        max-width: 60px;
      }
    }
  }

  .navbar-brand {
    @include text($font-size-base, normal, normal, $ahs-color);
    font-family: $font-family-marcellus;
    text-transform: capitalize;
    padding-left: 8px;
    letter-spacing: 0.4px;
    @media #{$phablet-min} {
      font-size: $font-size-mobile;
    }
    @media #{$phablet} {
      max-width: 150px;
    }
    @media #{$laptop-desktop} {
      font-size: $font-size-title;
    }
  }
}

.region-navigation-collapsible {
  @media #{$phablet-min} {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 22px;
  }
}

/*
  Give superfish dropdowns a solid background color.
*/
.sf-menu li.sf-depth-2.menuparent ul {
  background-color: $white;
}


// Main nav positioning
// Should be same as admin theme.

.block-superfishmain-navigation-authenticated {
  // Align top menu to right
  display: flex;
  justify-content: flex-end;

  li a.sf-depth-2 {
    // Tighter spacing on second horizontal row
    margin: 0px 10px;
    /* No underlines on second horizontal row */
    &:hover, &.is-active {
      &:after {
        transform: scale(0);
      }
    }
  }

  /*
  Align both rows of horizontal menus to the right.
  */
  ul.sf-menu, li.sf-depth-1 > ul {
    display: flex;
    justify-content: flex-end;
  }

  /* Align the right end of the bottom row of horizontal menu with right end of top row */
  li.sf-depth-2:last-of-type {
    //margin-right: 0.5em;
  }

  li.sf-depth-1.menuparent > ul {
    /* Use a smaller font size for secondy menus */
    a {
      font-size: ceil(($font-size-base * 0.85));
    }
    /* Push the bottom menu row down */
    padding-top: 15px;
  }

}


// Main navigation.
.menu {
  @media #{$mobile} {
    padding: 30px 20px 0;
  }

  > li {
    padding: 0px;
    @media #{$laptop-desktop-lg} {
      padding: 0 28px 0 0;
    }

    a {
      position: relative;
      letter-spacing: 1.5px;
      font-weight: bold;
      padding: 10px 0px 15px;
      margin: 0px 20px;
      text-transform: uppercase;
      background-color: transparent;
      @media #{$mobile} {
        padding: 10px 0;
      }
      @media #{$phablet-min} {
        font-size: $font-size-mobile;
      }
      @media #{$laptop-desktop-lg} {
        font-size: $font-size-base;
      }

      &:after {
        content: ' ';
        position: absolute;
        left: 0; bottom: 0; right: 0;
        width: 100%;
        transform: scale(0);
        height: 2px;
        background: $ahs-color;
        transition: all .3s ease-in-out;
      }
      &:hover, &.is-active {
        color: $ahs-color;
        text-decoration: none;
        &:after {
          transform: scale(1);
        }
      }
    }
  }
}

.tabs-container {
  padding-left: 0;
  padding-right: 0;
}

nav#block-ahs-bootstrap-account-menu {
  // Align right even on mobile.
  display: flex;
  justify-content:flex-end;

  // Prevent user's name from wrapping
  ul.menu > li > a {
    white-space: nowrap;
  }
}
