div.rounded-with-shadow {
  color:white;
}
.page-header-with-background {
  background-size: 100% auto;
  background-position: left center;
  position: relative;
  margin-bottom: 20px;

  .background-responsive-image {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: inherit;
    object-fit: cover;
    @media #{$mobile} {
      filter: brightness(80%);
    }
  }

  .wrapper-content-hero {
    min-height: 300px;
    @media #{$mobile} {
      min-height: auto;
    }

    h1 {
      padding: 20px;
      font-size: $font-size-global-title;

      div {
        display:inline-block;
        color: $gray-lighter;

        // Provide subtle background to improve readability of text over image.
        padding: 30px;
        text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), 0 5px 15px rgba(0, 0, 0, 0.5), 5px 0 10px rgba(0, 0, 0, 0.2), -5px 0 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(3px) brightness(0.95);
        mask-image: linear-gradient(to bottom, transparent, 15px, white 40px),linear-gradient(to top, transparent, 15px, white 40px),linear-gradient(to right, transparent, 15px, white 40px),linear-gradient(to left, transparent, 15px, white 40px);
        mask-composite: intersect;
        -webkit-backdrop-filter: blur(3px) brightness(0.95);
        -webkit-mask-image: linear-gradient(to bottom, transparent, 15px, white 40px),linear-gradient(to top, transparent, 15px, white 40px),linear-gradient(to right, transparent, 15px, white 40px),linear-gradient(to left, transparent, 15px, white 40px);
        -webkit-mask-composite: source-in;
          @media #{$mobile} {
            padding: 8px 10px;
            font-size: 24px;
            line-height: 36px;
            font-weight: bold;
            border-radius: 13px;
            backdrop-filter: none;
            -webkit-backdrop-filter: none;
            mask-image: none;
            -webkit-mask-image: none;
          }
      }


    }
  }
}
