{#
/**
* @file
* Displays the user menu as a dropdown under the user's name.
*
* Available variables:
* - menu_name: The machine name of the menu.
* - items: A nested list of menu items. Each menu item contains:
*   - attributes: HTML attributes for the menu item.
*   - below: The menu item child items.
*   - title: The menu link title.
*   - url: The menu link url, instance of \Drupal\Core\Url
*   - localized_options: Menu link localized options.
*
* @ingroup templates
*/
#}
{% macro menu_links(items, attributes, menu_level, classes) %}
    {% if items %}
	<ul{{ attributes.addClass(menu_level == 0 ? classes : 'dropdown-menu') }}>
	    {% for item in items %}
		{%
		set item_classes = [
		    item.is_expanded and item.below ? 'expanded',
		    item.is_expanded and menu_level == 0 and item.below ? 'dropdown',
		    item.in_active_trail ? 'active',
		]
		%}
		{% if menu_level == 0 and item.is_expanded and item.below %}
		    <li{{ item.attributes.addClass(item_classes) }}>
			<a href="{{ item.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ item.title }} <span class="caret"></span></a>
		{% else %}
			<li{{ item.attributes.addClass(item_classes) }}>
			    {{ link(item.title, item.url) }}
		{% endif %}
		{% if item.below %}
		    {{ _self.menu_links(item.below, attributes.removeClass(classes), menu_level + 1, classes) }}
		{% endif %}
			</li>
	    {% endfor %}
	</ul>
    {% endif %}
{% endmacro %}

{% import _self as menus %}
<ul{{ attributes.addClass('menu', 'nav', 'navbar-nav', 'navbar-right', 'dropdown') }}>
    {% if logged_in %}
	<li>
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		{{ user.getDisplayName() }}
		<span class="caret"></span>
	    </a>
	    {{ menus.menu_links(items, attributes, 1) }}
	</li>
    {% else %}
	{{ menus.menu_links(items, attributes, 0) }}
    {% endif %}
</ul>
