.page-node-type-information {
  .main-container {
    &.container {
      width: 100%;
      max-width: 1920px;
    }
  }
  .block-webform {
    margin-top: 125px;
    @media #{$mobile} {
      margin-top: 30px;
    }
    .block-title {
      font-size: 48px;
      margin-bottom: 70px;
      @media #{$mobile} {
        font-size: 45px;
        margin-bottom: 30px;
      }
      &:after {
        margin: 55px auto 0;
        @media #{$mobile} {
          margin: 30px auto 0;
        }
      }
    }
    .webform-submission-contact-form {
      max-width: 1170px;
      margin: 0 auto;
      @media #{$phablet} {
        max-width: 750px;
      }
      @media #{$phablet-laptop-landscape} {
        max-width: 940px;
      }
      #edit-left-section {
        .webform-element-description {
          font-size: $font-size-h3;
          font-weight: 100;
          line-height: 35px;
          ol {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
              position: relative;
              margin-bottom: 70px;
              padding-left: 85px;
              counter-increment: step-counter;
              @media #{$mobile} {
                text-align: justify;
              }
              &:before {
                font-size: $font-size-h3;
                font-weight: bold;
                line-height: normal;
                position: absolute;
                left: -15px;
                top: -17px;
                margin-right: 5px;
                padding: 20px 24px;
                content: counter(step-counter) '.';
                color: #b72003;
                border: 1px solid;
                border-radius: 50% 50%;
              }
            }
          }
        }
      }
      #edit-right-section {
        padding: 18px 0 18px 85px;
        @media #{$phablet} {
          padding: 0 15px;
        }
        @media #{$mobile} {
          padding: 0 15px;
        }
        input[type="text"], input[type="email"] {
          border-radius: 50px;
          padding: 33px 49px;
          border: 1px solid #252525;
          margin-bottom: 27px;
          font-size: $font-size-button;
          font-weight: 400;
          letter-spacing: 1.5px;
          @media #{$mobile} {
            border-radius: 25px;
          }
          &:focus {
            border-color: #b72003;
          }
        }
        textarea {
          border-radius: 30px;
          padding: 20px 49px;
          border: 1px solid #252525;
          margin-bottom: 27px;
          font-size: $font-size-button;
          font-weight: 400;
          letter-spacing: 1.5px;
          @media #{$mobile} {
            border-radius: 25px;
          }
          &:focus {
            border-color: #b72003;
          }
        }
        #edit-actions {
          .webform-button--submit {
            font-size: $font-size-button;
            font-weight: bold;
            display: block;
            width: 100%;
            padding: 22px 105px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            border: 1px solid #b72003;
            border-radius: 50px;
            color: #b72003;
            background-color: transparent;
            @media #{$mobile} {
              border-radius: 25px;
            }
            &:hover {
              background-color: #b72003;
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
