{# Outlook can't style divs as inline, so force span. #}
{% set classes = classes ?: [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
] %}

{% set item_classes = item_classes ?: 'field--item' %}

  {% if multiple %}
    <span{{ attributes.addClass(classes, 'field--items') }}>
      {% for item in items %}
        <span{{ item.attributes.addClass(item_classes) }}>{{ item.content }}</span>
      {% endfor %}
    </span>
  {% else %}
    {% for item in items %}
      <span {{ attributes.addClass(classes, item_classes) }}>{{ item.content }}</span>
    {% endfor %}
  {% endif %}
