
/* Hide the confusing 'Reset crop' button added by Image Widget Crop.
 This is a hacky but easy way to solve the problem. */
input.crop-preview-wrapper__crop-reset {
 display:none !important;
}

/* Don't use gin's secondary admin toolbar */
div#toolbar-administration-secondary {
  display:none;
}


div.region-breadcrumb {
  /* Position account menu to the right of main menu. */
  display: flex;
  justify-content: flex-end;
  /* Allow drop downs to open over sticky header
  z-index:201;
  position:relative; */
}

/*
Stop user name from wrapping on to 2 lines.
 */
div.block-ahs-admin-account-menu a.sf-with-ul {
  white-space: nowrap;
}

/* Display the full word 'unmasquerade*/
div.block-ahs-admin-account-menu ul.sf-menu ul {
  width: 15em;
}

/* Ensure adequate space for the second row of the double horizontal menu*/
div#block-mainnavigationauthenticated {
  min-height: 5rem;
}


/*
  Give superfish dropdowns a solid background color.
*/
div.region-breadcrumb li.sf-depth-2.menuparent ul, div#block-ahsadminaccountmenu li ul {
  background: var(--colorGinAppBackground);
}

/*
Give the menus a styling similar to the front end theme.
*/
div.region-breadcrumb ul a {
  text-transform: uppercase;
  color:#252525;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-size: 12px;
}
div.region-breadcrumb ul a:hover {
  color:#b72003;
}
/* Underline active trail */
div#block-mainnavigationauthenticated li.sf-breadcrumb > a::before,
div#block-mainnavigationauthenticated li.active-trail > a::before {
  content : "";
  position: absolute;
  left: 1.25em;
  right: 1.25em;
  bottom  : 0.4em;
  border-bottom:2px solid #b72003;
}

/* Reduce the horizontal space used by second rown of main menu */
div#block-mainnavigationauthenticated a.sf-depth-2 {
  padding: 1em 1em;
}

/* Move the local actions over to the left, for increased visibility and to avoid colliding with the menus */
div#block-gin-page-title {
  flex-grow: 0;
  margin-right: 50px;
}
div.region-sticky__items .block-page-title-block h1 {
  /* Stop the title from being truncated (weirdly, only an issue for users without admin role  */
  max-width: 100%;
}

/* Shrink the size of local action buttons.
  This allows the bottom menu rown to move under local actions buttons on tablets,
  and creates more space for top menu on mobile */
header div#block-gin-local-actions .button {
  padding: calc(0.75rem - 2px) calc(1rem - 2px);
}

/* Move the BEF secondary views exposed filters onto new line */
.views-exposed-form .bef--secondary {
  /* Move the BEF secondary views exposed filters onto new line */
  flex-basis: 100%;
  /* Move after button */
  order: 1;
}

@media (min-width: 976px) {
  div.region-meta {
    padding-top:0;
  }

  .gin--horizontal-toolbar .region-meta {
    top: 54px;
  }

  /* Superfish does something odd with the z-index that makes menus come in front of toolbar */
  body.gin--horizontal-toolbar div#toolbar-administration {
    z-index: 600;
  }
}

/* At large screens, the toolbar is on top, and the menus and page title are sticky */
@media (min-width: 1024px) {


  .region-meta {
    position: -webkit-sticky;
    position: sticky;
    /* The toolbar is 103 and the header is 101, so our menus have to be 102 in order for the toolbar menus to
     drop down over our menus, and our menus to appear over the header. */
    z-index: 102;
    top: 0;
    /* Don't overlay the local actions buttons, preventing them from being clicked*/
    float:right;
  }

  header.region-sticky {
    /* Hide a tiny flash of scrolling content just under the toolbar */
    margin-top: 1px;
    /* Given enough height to provide a solid background for both rows of the menus. */
    height:100px;
  }

  /* Make blurred content behave nicely at top of header*/
  header::before {
    content : "";
    position: absolute;
    top:-20px;
    width:100%;
    height:60px;
    z-index:-1;
    background: linear-gradient(var(--colorGinAppBackground), var(--colorGinAppBackground),transparent);
  }

  /*
  Align both rows of horizontal menus to the right.
  */
  div#block-mainnavigationauthenticated ul.sf-menu, div#block-mainnavigationauthenticated li.sf-depth-1 > ul {
    display:flex;
    justify-content:flex-end;
  }

  /* Position the page title and local actions button */
  header.region-sticky div.region-sticky__items {
    /* Override */
    height: auto;
    /* Vertically align the title and actions with the centre of the two menu rows */
    padding: 0em 0em;
  }


  /* Better horizontal alignment of button and page title*/
  div#block-gin-page-title {
    margin-bottom:10px;
  }

  /* Make main menu same size as in front end */
  div#block-mainnavigationauthenticated a.sf-depth-1,
  div#block-ahsadminaccountmenu a.sf-with-ul {
    font-size: 16px;
  }

  /* Align the right end of the bottom row of horizontal menu with right end of top row */
  div#block-mainnavigationauthenticated li.sf-depth-2:last-of-type {
    margin-right: 0.5em;
  }

  /* Hide the second horizontal menu row by default, but show it when hovering in the area */
  div#block-mainnavigationauthenticated li.sf-depth-1.menuparent > ul {
  /*display:none;*/
  }
  div.region-breadcrumb:hover div#block-mainnavigationauthenticated li.sf-depth-1.menuparent > ul {
    /*display: flex;*/
  }

/* Allow the bottom menu rown to move under local actions buttons on narrower screens*/
  header div#block-gin-local-actions .button {
    /* Shrink the size of buttons */
    padding: calc(0.75rem - 2px) calc(1rem - 2px);
  }
  div#block-mainnavigationauthenticated li.sf-depth-1 > ul {
    /* Push the bottom menu row down */
    padding-top: 1.5em;
  }

/* Gin forces images to be square, which looks odd with cropping */
  .media-library-item__preview .field--name-thumbnail img {
    height: auto;
    border-radius: 12px;
  }
}

/* Increased z-index of  Link URL modal window of the CKEditor 5 to avoid overlapping layout_paragraphs modal window.
   https://www.drupal.org/project/drupal/issues/3274937
 */
.ck.ck-balloon-panel.ck-balloon-panel_visible {
  z-index: 1261;
}

/* Hide Operations table header when using auto open IEFS */
.field--widget-ahs-miscellaneous-inline-entity-form-preview-single .auto-open-edit-form .th__operations {
  display:none;
}

/*  Custom style applied by a field group, used to concatenate multiple fields onto single line. */
.inline-fields * {
  display:inline;
}