{#
/**
 * @file
 * Provides transcription-transcript.html.twig
 *
 * Available variables:
 *   - transcript: The transcript typed data.
 *   - attributes: attributes to apply to the main element.
 */
#}
<div {{ attributes }}>
  <p>{{ transcript.getText() }}</p>
</div>
