/*div.main-container {*/
    /*max-width:900px;*/
    /*margin:auto;*/
/*}*/


.ahs-finished > .field--name-title,
.ahs-finished > a > .field--name-title,
.ahs-finished .field--name-title input{
    text-decoration:line-through;
}

.ahs-finished > .field--name-title:hover,
.ahs-finished > .field--name-title:focus,
.ahs-finished > a > .field--name-title:hover,
.ahs-finished > a > .field--name-title:focus,
.ahs-finished .field--name-title input:hover,
.ahs-finished .field--name-title input:focus{
    text-decoration:none;
}

div.ahs-markers {
    display:inline-block;
    padding-left:0.5em;
}

div.ahs-markers .label {
    font-weight:normal;
}

/* Currently no navbar, so show no navbar toggle
.navbar-default .navbar-toggle {
    display:none;
}
*/