.view-id-discussions .field--name-title {
    line-height:1;
}
.view-id-discussions .field--name-field-ancestry-plain {
    color:#333;
    line-height:1;
    text-decoration:none;
    display:block;
    font-size:70%;
}
.view-id-discussions article {
    margin-bottom:0.5em;
}

.block-views-blockdiscussions-browse .view-id-discussions article {
    margin-bottom:0em;
}

section.block-views-blockdiscussions-help .views-row .label.ahs-help-wanted {
    display:none;
}

/* Views infinite scroll 'Show more' pagers */
.pager {
    margin: 0px;
    text-align:inherit;
}
.pager li > a {
    padding: 0px;
    border:none;
    background:none;
}
.pager li > a:hover {
    background:none;
    text-decoration: underline;
}