{#
/**
 * @file
 * Default theme implementation for checkout panes.
 *
 * Available variables:
 * - elements: The checkout pane's form elements.
 *
 * @ingroup themeable
 */
#}
<p>This is a secure payment. Your card details are protected.</p>
<div class="payment-form-container">
  <div class="payment-form-main">
    <div class="card-logos">
      <img src="/{{ directory }}/images/checkout/visa.png"/>
      <img src="/{{ directory }}/images/checkout/mastercard.png"/>
      <img src="/{{ directory }}/images/checkout/amex.png"/>
    </div>
    {{ elements }}
  </div>
  <div class="trust-seals">
    <img src="/{{ directory }}/images/checkout/ssl.png"/>
    <img src="/{{ directory }}/images/checkout/stripe.png"/>
  </div>
</div>
