{#
/**
 * Suppress the quantities and totals in the order summary, and warn about recurring orders.
 *
 * The rendered order totals come from commerce-order-total-summary.html.twig.
 * See commerce-order-receipt.html.twig for examples of manual total theming.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - checkout_step: The current checkout step.
 * - totals: An array of order total values with the following keys:
 *   - subtotal: The order subtotal price.
 *   - adjustments: An array of adjustment totals:
 *     - type: The adjustment type.
 *     - label: The adjustment label.
 *     - total: The adjustment total price.
 *     - weight: The adjustment weight, taken from the adjustment type.
 *   - total: The order total price.
 * - rendered_totals: The rendered order totals.
 */
#}

{# Heading moved from commerc-checkout-form--with-sidebar.html.twig as it's easier to make it order type conditional here. #}
<h3>
  {%  if order_entity.bundle == 'ahs_free' %}
    {% trans %} Your request {% endtrans %}
  {%  else %}
    {% trans %} Your contribution {% endtrans %}
  {%  endif %}
</h3>

<div{{ attributes.addClass('checkout-order-summary') }}>
  {% block order_items %}
    <table>
      <tbody>

      {# Quantities are only needed if at least one item has a plural quantity #}
      {% set needs_quantities = 0 %}
      {% for order_item in order_entity.getItems %}
        {% if order_item.getQuantity > 1 %}
          {% set needs_quantities = 1 %}
        {% endif %}
      {% endfor %}

      {% for order_item in order_entity.getItems %}
        <tr>

          {# Display quantities only if needed #}
          {% if need_quantities == 1 %}
            <td>{{ order_item.getQuantity|number_format }}&nbsp;x</td>
          {%  endif %}

          {% if order_item.hasPurchasedEntity %}
            <td>{{ order_item.getPurchasedEntity|commerce_entity_render('summary') }}</td>
          {% else %}
            <td>{{- order_item.label -}}</td>
          {% endif %}
          <td>{{- order_item.getTotalPrice|commerce_price_format -}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endblock %}

  {# Suppress the totals if there is only 1 item #}
  {%  if order_entity.getItems|length > 1 %}
    {% block totals %}
      {{ rendered_totals }}
    {% endblock %}
  {%  endif %}


  {# Warn about future recurring payments #}
  {%  if order_entity.bundle == 'ahs_lah_enrolment' %}
    <p class="checkout-summary-recurring-notice">Your donation will be collected automatically every month. You can cancel or change it at any time.</p>
  {%  endif %}
</div>
