{#
/**
 * Replace the "Order summary" heading with "Your contribution".
 *
 * @file
 * Two column template for the checkout form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}

<div class="layout-checkout-form clearfix">
  <div class="layout-region layout-region-checkout-main">
    {{ form|without('sidebar', 'actions') }}
  </div>
  <div class="layout-region layout-region-checkout-secondary">
    {{ form.sidebar }}
  </div>
  <div class="layout-region layout-region-checkout-footer">
    {{ form.actions }}
  </div>
</div>
